body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Fondo blanco */
    color: #333;
}

header {
    background-color: #51aff7;
    padding: 10px 0;
    text-align: center;
}

header marquee {
    font-size: 1.2em; /* Aumentamos el tamaño de la marquesina */
    font-weight: bold; /* Texto en negrita para la marquesina */
    color: #fcfcfc; /* Un color llamativo para la marquesina */
    padding: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fcfcfc;
    font-weight: bold; /* Enlaces del menú en negrita */
    font-size: 1.1em; /* Un poco más grandes los enlaces del menú */
}

main {
    padding: 20px;
}

#portada {
    text-align: center;
}

#portada h1 {
    font-size: 2.5em; /* Título principal más grande */
    color:  #51aff7; /* Un color distintivo para el título */
    margin-bottom: 15px;
}

#portada img {
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #ccc; /* Sutil sombra para la imagen */
}

#portada p {
    font-size: 1.1em; /* Tamaño de párrafo un poco mayor */
    margin-bottom: 10px;
}

#portada p strong { /* Estilo para el texto importante dentro de los párrafos */
    font-weight: bold;
    color: #000; /* Resaltar el texto en negrita */
}

#portada ul {
    list-style: none;
    padding: 0;
}

#portada li {
    margin-bottom: 8px;
    font-size: 1em;
}

#portada li strong { /* Integrantes en negrita */
    font-weight: bold;
}

#miBoton {
    padding: 12px 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em; /* Botón un poco más grande */
    font-weight: bold; /* Texto del botón en negrita */
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

#miBoton:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    color: #777;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em; /* Footer un poco más pequeño */
}