body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #ddd;
}

main {
    padding: 20px;
}

#galeria h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Crea columnas flexibles */
    gap: 15px; /* Espacio entre las imágenes */
}

.galeria-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 3px 3px 8px #ccc;
    cursor: pointer; /* Indica que la imagen es ক্লিকable */
    transition: transform 0.3s ease-in-out; /* Animación al pasar el ratón */
}

.galeria-img:hover {
    transform: scale(1.05); /* Ligeramente más grande al pasar el ratón */
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Se queda en su lugar */
    z-index: 1; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilita el scroll si la imagen es muy grande */
    background-color: rgba(0,0,0,0.9); /* Fondo oscuro y semitransparente */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#modal-image {
    margin: auto;
    display: block;
    width: auto;
    max-width: 95%;
    max-height: 80%;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 30px;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Animaciones para el modal (opcional) */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}